rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow authenticated users to read/write RO attachments
    match /ros/{roId}/attachments/{filename} {
      allow read, write: if request.auth != null;
    }

    match /chat/{convoId}/{filename} {
      allow read, write: if request.auth != null;
    }
  }
}
